body {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
}

.back-register{
    background: url('http://localhost/agenda/img/bg-register.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.back-page{
    background: url('http://localhost/agenda/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-landpage {
    background-color : rgba(0,0,0,0.8);
    border-top: solid 1px #535353;
    color: #acacac;
    left: 0px;
    right: 0px;
    bottom:0px;
    margin-left:  auto;
    margin-right: auto;
    position: fixed;    
}